.list {

    &-item {

        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: rgb(250, 237, 237);
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px;
        padding: 9px;
        -webkit-box-shadow: -13px 18px 16px -5px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -13px 18px 16px -5px rgba(34, 60, 80, 0.2);
        box-shadow: -13px 18px 16px -5px rgba(34, 60, 80, 0.2);

        @media screen and (max-width: 650px) {
            flex-direction: column;
            align-items: center;
        }

        &-info {

            &-holder {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                justify-content: center;
                font-family: Arial, Helvetica, sans-serif;

                @media screen and (max-width: 650px) {
                    margin-top: 10px;
                    flex-direction: row;
                    margin-left: 0px;
                    width: 100%;
                }
            }
        }

        &-fname {
            margin-bottom: 10px;

            @media screen and (max-width: 650px) {
                flex-direction: row;
                margin-left: 10px;
                margin-right: auto;
                margin-bottom: 10px;
                width: 100%;
            }

        }

        &-lname {

            @media screen and (max-width: 650px) {
                flex-direction: row;
                margin-left: 10px;
                margin-right: auto;
                margin-bottom: 10px;
                width: 100%;
            }

        }

        &-status {
            display: flex;
            height: 30px;
            margin-top: auto;
            margin-left: auto;
            margin-right: 10px;
            margin-bottom: auto;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            cursor: pointer;

            @media screen and (max-width: 650px) {
                margin-top: 10px;
                flex-direction: row;
                width: 100%;
            }

        }

        &-loader {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;

            @media screen and (max-width: 650px) {
                height: 188px;
            }

        }
    }

    &-img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        display: flex;

        @media screen and (max-width: 650px) {
            margin-left: 0px;
            margin-right: auto;
        }
    }
}

.approved {
    background-color: rgb(17, 204, 17) ;
}

.notapproved {
    background-color: rgb(255, 53, 53) ;
}

.submit {
    background-color: rgb(30, 255, 0);
    margin-left: 10px;
}

